

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar{ 
justify-content: space-between;
display: flex;
flex-direction: row;
align-items: center;
width: 88%;
height: 88px;
}

.flex-row {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.colum{
  margin: 31px;
  text-align: center;
}
